<ion-header>
  <ion-toolbar class="primary">
    <ion-title>Weather</ion-title>
  </ion-toolbar>
  <ion-toolbar class="secondary">
    <ion-searchbar 
        color="medium" 
        type="text"
        placeholder="Exemple : Lille, Paris ..."
        inputmode="search"
        enterkeyhint="search"
        (ionChange)="getWeather()"
        [(ngModel)]="city"
        debounce="1000"
        autocomplete="city">
      </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <ion-item *ngIf="meteo; else noWeather">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{  meteo.date | date: 'dd MMM YYYY' }}</ion-card-subtitle>
          <ion-card-title>
            {{ meteo.city }} {{ meteo.flag }} 
          </ion-card-title>
          <ion-note>{{ meteo.country }} </ion-note>
        </ion-card-header>
        <ion-card-content>
          {{ meteo.temp | number:'1.0-0'}}°C
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ng-template #noWeather>
      <ion-card class="ion-padding" *ngIf="!city">
        <ion-text color="black">Veuillez entrer une ville.</ion-text>
      </ion-card>
      <ion-card class="ion-padding" *ngIf="city">
        <ion-text *ngIf="isLoading" color="black">Chargement...</ion-text>
        <ion-text *ngIf="!isLoading" color="danger">Nous n'avons pas trouvé d'information sur cette ville.</ion-text>
      </ion-card>
    </ng-template>
</ion-content>